
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert container" style="background-color:#9C0C13" role="alert">
    
    <p class="fs-3 text-center text-light"><i class="bi bi-x-circle fa-lg"></i>  This Page is Not Found</p>
</div>

