@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole<int>>
@{
    ViewData["Title"] = "GetRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Roles</title>
<div class="container">
    <a asp-action="Add" class="btn btn-success">Add New Role</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-10">Name</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-1">@item.Id</td>
                        <td class="col-md-10">@item.Name</td>
                        <td class="col-md-1">
                            <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
